In [40]:
import PyPDF2
import pandas as pd
import numpy as np
import re
import os
import xlwings
import pyperclip
import itertools
os.getcwd()

'C:\\Users\\austinm\\Documents\\Jupyter_Scripts\\Data_Automation'

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 1000)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [131]:
print('Accepted Categories:\nPhone\nFax\nEmail')

Accepted Categories:
Phone
Fax
Email

In [132]:
 categories = input('What categories are listed and in what order: ')

What categories are listed and in what order: Email Phone Fax

In [ ]:
def initialQuestions():
    categories = input('What categories are listed and in what order: ')

In [129]:
order = input('List the order of Email, Phone and Fax: ')
Email:

List the order of Email, Phone and Fax: Phone, Fax, Email

In [3]:
rePhoneNumber = '(\d{3}.?\d{3}.?\d{4})|(\(\d{3}\).?\d{3}.?\d{4})'
reEmailNextLine = '([\w\d-.]*@[\w\d-.]*\n[a-zA-Z.-]*)'#will only work for addresses that have remaining char from @ on the next line
reEmailCurrentLine = '([\w\d.-]*@[\w\d.-]*)'
reDollarAmount = '\$([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?'

In [59]:
copiedText = open(r'copied_text_test.txt','r')
data = copiedText.read()
copiedText.close

In [60]:
dollarMatches = re.findall("\$([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?", data)
#emailMatches = re.findall("([\w\d.-]*@[\w\d.-]*\n[a-zA-Z.-]*)", data)
#emailCurrLineMatches = re.findall("([\w\d.-]*@[\w\d.-]*)", data)
phoneMatches = re.findall("\d{3}.?\d{3}.?\d{4}|\(\d{3}\).?\d{3}.?\d{4}", data)

In [61]:
type(dollarMatches)
for i in range(0, len(dollarMatches)):
    dollarMatches[i] = dollarMatches[i][0] + dollarMatches[i][2]

In [ ]:
for i in range(0, len(emailMatches)):
    emailMatches[i] = emailMatches[i].replace('\n','')

In [44]:
emailCurrLineMatches

['rogercr@cccgroupinc.com',
 'mhammerlund@stromengineering.com',
 'chris.matlosz@noralinc.com',
 'Pierre.Parent@worleyparsons.com',
 'adam.anderson@tparkerhost.com',
 'mickey@rexcoinc.com',
 'melectric@corpus.twcbc.com',
 'antoine.berghmans@lhoist.com',
 'orobinson@austinwhitelime.com',
 'Tim_Hillsley@oxy.com',
 'eburnett@southtexasvalue.com',
 'dave.dennis@cytec.com',
 'mike.morton@scisusa.com',
 'bgw@spmwd.net',
 'ddavis@nalco.com',
 'slewis@mmrgrp.com',
 'rharrison@ghxinc.com',
 'paul.hensley@holtcat.com',
 'rlopezceo@yahoo.com',
 'james.glattly@genlp.com']

In [62]:
phoneFrame = pd.DataFrame(phoneMatches, columns=['Phone'])
#emailFrame = pd.DataFrame(emailCurrLineMatches, columns=['Email'])
dollarFrame = pd.DataFrame(dollarMatches, columns=['Unsecured Claim'])

In [63]:
dollarFrame

   Unsecured Claim
0      100,734,363
1       68,483,465
2       42,744,591
3        3,862,826
4        3,105,694
5        2,973,074
6        2,444,933
7        2,214,333
8        2,147,512
9        2,086,839
10       1,843,020
11       1,592,173
12       1,503,409
13       1,467,324
14       1,390,941
15       1,382,292
16       1,299,921
17       1,167,301
18       1,165,818
19       1,068,994

In [48]:
emailFrame

                               Email
0            rogercr@cccgroupinc.com
1   mhammerlund@stromengineering.com
2         chris.matlosz@noralinc.com
3    Pierre.Parent@worleyparsons.com
4      adam.anderson@tparkerhost.com
5                mickey@rexcoinc.com
6         melectric@corpus.twcbc.com
7       antoine.berghmans@lhoist.com
8      orobinson@austinwhitelime.com
9               Tim_Hillsley@oxy.com
10      eburnett@southtexasvalue.com
11             dave.dennis@cytec.com
12           mike.morton@scisusa.com
13                     bgw@spmwd.net
14                  ddavis@nalco.com
15                 slewis@mmrgrp.com
16              rharrison@ghxinc.com
17          paul.hensley@holtcat.com
18               rlopezceo@yahoo.com
19           james.glattly@genlp.com

In [64]:
phoneFrame

           Phone
0   302-636-4145
1   612-217-5651
2   302-636-4145
3   630-396-9128
4   920-997-1100
5   847-403-6836
6   330-628-6527
7   207-369-2751
8   513-672-2446
9   920-830-5199
10  708-460-9324
11  715-423-0313
12  205-814-0104
13  906-789-9130
14  610-882-8702
15  651-414-0846
16  920-433-1011
17  207-941-0839
18  920-734-5592

In [ ]:
new_df = pd.DataFrame({'one':df['one'].iloc[::2].values, 'value':df['one'].iloc[1::2].values})
new_df

In [65]:
dollarFrame.to_clipboard(index=False)

In [56]:
emailFrame.to_clipboard(index=False)

In [66]:
phoneFrame.to_clipboard(index=False)

In [12]:
#zip_longest('ABCD', 'xy', fillvalue='-')
data_tuples = list(itertools.zip_longest(emailCurrLineMatches, dollarMatches, fillvalue='--'))
data_tuples

[('phealy@wsfsbank.com', '120,000,000.00'),
 ('investorrelations@vereit.com', '15,300,000.00'),
 ('info@proskauer.com', '5,099,562.27'),
 ('tparr@dstbs.com', '4,041,098.15'),
 ('compliancesolutions@schwab.com', '1,793,008.74'),
 ('geneosinfo@geneoswealth.com', '1,742,281.59'),
 ('info@newyorksecurity.com', '1,401,359.92'),
 ('support@wintsec.com', '1,037,332.05'),
 ('lgreen@paulweiss.com', '995,168.41'),
 ('pdavidson@paulweiss.com', '432,567.28'),
 ('orangecounty@rgp.com', '417,285.58'),
 ('--', '323,819.70'),
 ('--', '282,453.84'),
 ('--', '265,945.38'),
 ('--', '167,000.00'),
 ('--', '146,894.16'),
 ('--', '138,982.84'),
 ('--', '138,764.16'),
 ('--', '117,635.00'),
 ('--', '115,877.59')]

In [13]:
frame = pd.DataFrame(data_tuples, columns=['Email', 'Unsecured Claim'])

In [125]:
frame.to_clipboard()

In [78]:
print(dollarMatches)
print(emailMatches)
print(phoneMatches)

['48,746.00', '83,687.00', '30,498.00', '17,299.00', '226,855.00', '18,358.00', '63,061.00', '49,278.00', '17,180.00', '28,800.00', '43,668.00', '34,124.00', '167,554.00', '22,907.00', '530,848.00', '16,939.00', '20,005.00', '35,699.00', '25,067.00', '60,975.00']